// text page
include ../breadcrumbs/_breadcrumbs

.static.header-offset
  .container
    .static__breadcrumbs
      +breadcrumbs(['Главная страница', 'Программы', 'Название программы'])
    a(href="#").static__tag #Название направления

    h1.static__title.h2-title Проект профессионального стандарта «Руководитель образовательной организации высшего образования»

    .static__date
      .static__date-label Время проведения:
      .static__date-content 25.06.2021 — 30.09.2021

    .static__content
      .wysiwyg
        blockquote СПК в сфере образования приглашает всех желающих принять участие в профессионально — общественном обсуждении проекта профессионального стандарта «Руководитель образовательной организации высшего образования».

        .row.mt-2
          .col.col-6.col-lg-12
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet pellentesque nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras lobortis eget enim id pharetra. Duis quis enim nec mi faucibus tempus. Sed turpis felis, suscipit a porttitor ut, interdum eu felis. Aliquam dignissim aliquam hendrerit.
            p Sed ac rutrum lacus. Maecenas venenatis, risus et mollis sagittis, massa nunc vehicula tellus, eu dapibus mauris enim a nisl. Pellentesque tortor mauris, hendrerit vitae bibendum ac, placerat sit amet enim. Nullam nec odio quam. In hac habitasse platea dictumst.
          .col.col-6.col-lg-12
            p Mauris egestas molestie massa ac vulputate. Sed consectetur nibh non congue molestie. Morbi augue libero, dictum quis lacus sed, malesuada bibendum nibh. Suspendisse velit magna, congue sit amet velit sit amet, ullamcorper tempor felis. Duis cursus sed odio ut dictum. Donec mollis nulla ut fringilla vulputate.
            p Duis sit amet gravida neque. In non ipsum ornare, consectetur ex et, scelerisque eros. Cras tortor tortor, cursus vel interdum sit amet, laoreet in augue. Praesent quis placerat urna. Vivamus ac magna facilisis, condimentum ligula ac, cursus nisl. Duis eleifend dolor sit amet urna luctus vestibulum. Fusce id lacus vitae est auctor molestie. In hac habitasse platea dictumst.
