// text page
include ../breadcrumbs/_breadcrumbs

.static.header-offset
  .container
    .static__breadcrumbs
      +breadcrumbs(['Главная страница', 'Программы', 'Название программы'])
    .static__row
      a(href="#").static__tag #Название направления

      a(href="#").btn.btn-primary.lg-visible
        +svgMono('cart')
        span Купить

    .static__content
      // .s-program
      .s-program
        .s-program__content
          .s-program__head
            img(src='img/program-image.png' srcset='img/program-image@2x.png 2x')

            h2.h2-title Дополнительная профессиональная программа повышения квалификации &laquo;Кибербезопасность и&nbsp;защита данных&raquo;

            .s-program__mobile(data-teleport-target="program-sidebar")

          .wysiwyg
            blockquote <strong>Описание</strong> <br/>
              | Дополнительная профессиональная программа повышения квалификации «Кибербезопасность и защита данных» направлена на формирование компетенции: «Осуществлять и обосновывать выбор решений по использованию систем защиты информации от внутренних угроз DLP IWTM».

            p
              strong Настоящая программа предназначена<br/>
              | В результате обучения специалист по кибербезопасности сможет обеспечивать защиту информации предприятия, страны или граждан.

            p
              strong Требования к слушателям<br/>
              | Специалист этого профиля сможет работать в банках и других финансовых учреждениях, во всех областях обороны (от армии и органов внутренних дел до оборонных предприятий), правительственных структурах, медицине, в транспортных организациях (например, очень важно не допускать сбоя в работе диспетчерских служб военной и гражданской авиации), коммунальных службах и других сферах.

            p <strong>Результатом освоения программы</strong> работа специалиста может заключаться в обеспечении бесперебойного функционирования средств программной защиты информации предприятия, наладке и поддержании работы аппаратной части, он будет хорошо разбираться в устройстве и работе компьютеров и компьютерных сетей. Хороший специалист по кибербезопасности всегда сумеет отразить любую хакерскую атаку на вверенный ему объект, а очень хороший специалист никогда не допустит этой атаки, заранее перекрыв все каналы доступа.

            p
              strong Форма обучения<br/>
              | Специалист этого профиля сможет работать в банках и других финансовых учреждениях, во всех областях обороны (от армии и органов внутренних дел до оборонных предприятий)

        .s-program__sidebar.js-teleport(data-teleport-to="program-sidebar" data-teleport-condition="<992")
          .s-program__cta
            a(href="#").btn.btn-primary
              +svgMono('cart')
              span Купить

          .s-program__box
            .s-program__scope
              .s-program__scope-label Стоимость:
              .s-program__scope-value.c-red 74 000 ₽
            .s-program__scope
              .s-program__scope-label Продолжительность:
              .s-program__scope-value 144 часа

          .s-program__box.s-program__box--secondary
            .s-program__note <strong>Этот курс включает:</strong> <br/>смешанная (очные занятия с&nbsp;преподавателями во&nbsp;видео связи и&nbsp;самостоятельное изучение интерактивных учебных материалов)
