// HERO
.hero.header-offset
  .swiper-container.js-swiper-hero
    .swiper-wrapper
      each slide in [1,2,3]
        .swiper-slide
          .hero__slide
            .hero__background
              img(src='img/hero.jpg' srcset='img/hero@2x.jpg 2x' alt="")
            .hero__content
              .hero__slide-title Университет новых профессий и квалификаций

    .fraction-nav
      .swiper-prev.swiper-hero-prev
        +svgMono('arrow-nav-left')
      .swiper-pagination.swiper-hero-pagination
      .swiper-next.swiper-hero-next
        +svgMono('arrow-nav-right')
