// LINKS
.links
  .container.container--wide
    .links__wrapper
      ul.links__list
        li
          a(href="#") Проект профессионального стандарта «Руководитель образовательной организации высшего образования»​
        li
          a(href="#") Форма для сбора экспертных мнений​
