---
title: Homepage
---
extends shared/_layout
block content

  include ../components/hero/_hero.pug
  include ../components/activities/_activities.pug
  include ../components/programs/_programs.pug
  include ../components/news/_events.pug
  include ../components/news/_news.pug
  include ../components/contact/_contact.pug
