include ../utilities/_mixins
doctype html
html(lang="ru")
  head
    include _head

  body
    // place where pjax bindings happen's
    .svg-sprite
      include ../../../dist/img/sprite-color.svg
      include ../../../dist/img/sprite-mono.svg

    block header
      include ../../components/header/_header

    .page
      .page__content
        block content

      block footer
        include ../../components/footer/_footer

      block modals
        include ../../components/modals/_shared

      block scripts
        include _scripts
