// CONTACT
.contact
  .container
    .contact__text
      .wysiwyg
        h2 Контакты
        p
          | Москва, 115211, ул. Борисовские пруды., дом 19, корп. 1, к. 2-01<br/><br/>
          | Адрес электронной почты: <a href="mailto:znanie-university@mail.ru">znanie-university@mail.ru</a> <br/><br/>
          | Телефон: <a href="tel:+7-985-200-80-04">+7-985-200-80-04</a>

    // presents https://yandex.com/dev/maps/jsapi/doc/2.1/ref/reference/option.presetStorage.html
    .contact__map.js-ymap(data-center="55.635198, 37.705535" data-zoom="12" data-placeholder="55.635198, 37.705535" data-placeholder-caption="Сетевой университет" data-placeholder-balloon="Москва, 115211, ул. Борисовские пруды., дом 19, корп. 1, к. 2-01" data-placeholder-icon="islands#redBookCircleIcon")
