/* HEADER*/
.header
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 9
  background: white
  will-change: transform
  backface-visibility: hidden
  transform-style: preserve-3d
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15)
  &__top
    background: $colorPrimary
    color: white
  &__top-wrapper
    display: flex
    align-items: center
    justify-content: space-between
    padding: 8px 0 9px
    a
      font-size: 14px
      line-height: (17 / 14)

  &__wrapper
    display: flex
    padding: 22px 0 0

  &__left
    flex: 0 0 auto
    padding-right: 30px
    font-size: 0

  &__logo
    display: inline-block
    font-size: 0
    padding-bottom: 22px
    .ico-color-logo-compact
      display: none
    .ico-color-logo-letters
      display: none
    .ico
      font-size: 87px

  &__right
    flex: 1 1 auto
    display: flex
    flex-direction: column

  &__right-wrapper
    display: flex
    align-items: center
    margin-top: auto
    margin-left: auto
    width: 100%
    max-width: 760px

  &__phone
    font-size: 18px
    line-height: 22px
    letter-spacing: 0.01em
    padding: 8px 0
    margin-left: auto
    .ico
      display: none

  &__menu
    flex: 1 1 auto
    display: flex
    align-items: center
    font-size: 16px
    margin: auto 50px 0 0
    padding: 0 0 26px 0px
    li
      display: inline-block
      margin-right: auto
      &.have-ul
        > a::after
          display: inline-block
        &.is-active
          a::after
            transform: rotate(180deg)
      &:last-child
        margin-right: 0
    a
      position: relative
      color: $colorLink
      &::after
        display: none
        content: ' '
        right: 0
        width: 9px
        height: 6px
        background: svg-load('../icons/svg-mono/caret.svg') no-repeat center
        background-size: contain
        margin-left: 10px
        vertical-align: middle
        transition: transform .25s $ease
    a.is-active
      &::after
        transform: rotate(180deg)

  &__search
    flex: 0 0 auto
    padding-bottom: 26px
    font-size: 0
    cursor: pointer
    .ico
      font-size: 20px

  &__hamburger
    display: none
    margin-top: 2px
    padding-left: 32px
    font-size: 0

  &.is-fixed
    // should be normalized to -100% scroll at this point
    position: fixed
    transform: translate3d(0,-100%,0) !important
    transition: transform .25s ease
    .header
      &__top
        display: none
      &__logo
        padding-bottom: 10px
        .ico
          font-size: 46px
      &__phone
        display: none
      &__wrapper
        padding-top: 10px
      &__menu
        padding-bottom: 10px
      &__search
        padding-bottom: 10px
      &__right-wrapper
        margin-bottom: auto

  &.is-fixed-visible
    transform: translate3d(0,0,0) !important

  &.is-transitioning
    transition: transform .25s ease
    transform: translate3d(0,-100%,0) !important

+r($lg)
  .header
    &__wrapper
      padding-top: 12px
      padding-bottom: 16px
    &__logo
      padding-bottom: 0
      .ico-color-logo
        display: none
      .ico-color-logo-compact
        display: block
      .ico
        font-size: 38px
    &__right
      flex-direction: row
      margin-left: auto
    &__right-wrapper
      width: auto
      margin-top: 0
      margin-left: 32px
    &__phone
      padding-bottom: 0
      text-decoration: underline
      &:hover
        text-decoration: none
    &__menu
      display: none
    &__search
      padding-bottom: 0
      color: #646464
    &__hamburger
      display: block

    &.is-fixed
      .header
        &__logo
          padding-bottom: 0px
          .ico
            font-size: 38px
        &__phone
          display: inline-block
        &__wrapper
          padding-top: 10px
          padding-bottom: 10px
        &__menu
          padding-bottom: 0px
        &__search
          padding-bottom: 0px
        &__right-wrapper
          margin-bottom: 0

+r($md)
  .header
    &__top
      display: none
    &__wrapper
      padding-top: 9px
      padding-bottom: 9px
    &__logo
      .ico-color-logo-compact
        display: none
      .ico-color-logo-letters
        display: block
      .ico
        font-size: 32px
    &__phone
      padding-top: 6px
      span
        display: none
      .ico
        display: inline-block
        fill: transparent
        stroke: #646464
        font-size: 20px

    &.is-fixed
      .header
        &__logo
          .ico
            font-size: 32px
        &__wrapper
          padding-top: 9px
          padding-bottom: 9px
