mixin list(list)
  ul.megamenu__list
    each li in list
      li
        a(href="#")= li

// MEGAMENU
.megamenu.js-megamenu(data-id="about")
  .megamenu__scroller
    +list([
      "Основные сведения об образовательной организации",
      "Структура и органы управления образовательной организацией",
      "Документы",
      "Информация об образовании",
      "Информация об образовательных стандартах",
      "Информация о руководстве и педагогическом (научно-педагогическом) составе",
      "Информация о материально-техническом обеспечении и оснащённости образовательного процесса",
      "Информация о платных образовательных услугах",
      "Информация о финансово-хозяйственной деятельности",
      "Информация о вакантных местах для приема (перевода) обучающихся",
      "Информация о доступной среде",
      "Информация о международном сотрудничестве",
      "Информация о стипендиях и мерах поддержки обучающих",
    ])

.megamenu.js-megamenu(data-id="programs")
  .megamenu__scroller
    +list([
      "Информация о финансово-хозяйственной деятельности",
      "Информация о вакантных местах для приема (перевода) обучающихся",
      "Информация о доступной среде",
      "Информация о международном сотрудничестве",
      "Информация о стипендиях и мерах поддержки обучающих",
    ])

.megamenu.js-megamenu(data-id="projects")
  .megamenu__scroller
    +list([
      "Основные сведения об образовательной организации",
      "Структура и органы управления образовательной организацией",
      "Документы",
      "Информация об образовании",
      "Информация об образовательных стандартах",
    ])

.megamenu.js-megamenu(data-id="search")
  .megamenu__scroller
    input(type="search" placeholder="Поиск ...")
