// FOOTER :: START
footer.footer
  .container
    .footer__wrapper
      .footer__main
        .footer__logo
          +svgColor('logo-white')
        .footer__copyright
          p © 2021 Автономная некоммерческая организация дополнительного профессионального образования Сетевой Университет «Знание» (АНО ДПО «Знание»)
          p <a href="#" target="_blank">Политика конфиденциальности</a><br/>
            | Все права защищены. Копирование материалов с&nbsp;сайта запрещено.<br/>
            | Вся информация на&nbsp;сайте носит справочный характер и&nbsp;не&nbsp;является публичной офертой&nbsp;(п.2 ст.437&nbsp;ГК РФ).

        .footer__contacts
          a(href="tel:+79852008004") +7-985-200-80-04
          a(href="mailto:znanie-university@mail.ru")  znanie-university@mail.ru

        .footer__list
          .footer__list-title Полезные ссылки:
          .footer__list-ul
            li
              a(href="#" target="_blank") Министерство науки и высшего образования
            li
              a(href="#" target="_blank") Министерство просвещения
            li
              a(href="#" target="_blank") Информация по противодействию коррупции

      .footer__menu
        .footer__list
          .footer__list-title Об университете:
          .footer__list-ul
            -
              var list = [
                "Основные сведения об образовательной организации",
                "Структура и органы управления образовательной организацией",
                "Документы",
                "Информация об образовании",
                "Информация об образовательных стандартах",
                "Информация о руководстве и педагогическом (научно-педагогическом) составе",
                "Информация о материально-техническом обеспечении и оснащённости образовательного процесса",
                "Информация о платных образовательных услугах",
                "Информация о финансово-хозяйственной деятельности",
                "Информация о вакантных местах для приема (перевода) обучающихся",
                "Информация о доступной среде",
                "Информация о международном сотрудничестве",
                "Информация о стипендиях и мерах поддержки обучающих",
              ]
            each link in list
              li
                a(href="#")= link

      .footer__nav
        ul.footer__nav-ul
          li
            a(href="#") Программы
          li
            a(href="#") Проекты
          li
            a(href="#") Документы
          li
            a(href="#") Контакты

        .footer__developer Разработка сайта: <br/> SEBEKON & Ланит


// FOOTER :: END
