// news (events)
.news.mt-1
  .container
    .news__head
      .h2-title Мероприятия
      a(href='#').news__head-cta
        span Все мероприятия
        +svgMono('arrow')

    .news__slider.swiper-container.js-swiper-events.pagination-simple
      .swiper-wrapper
        each slide in [1,2,3]
          .swiper-slide
            a(href="#").news-card
              .news-card__image
                img(src='img/news-placeholder-1.jpg' srcset='img/news-placeholder-1@2x.jpg 2x' alt="")
                .news-card__data 25/07/2021 в 19:00
              .news-card__content
                .news-card__title Название первого мероприятия
                .news-card__description Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

      .swiper-pagination.swiper-events-pagination
