.ico-color-logo-compact {
  width: 7.67em;
  height: 1em;
}
.ico-color-logo-letters {
  width: 0.58em;
  height: 1em;
}
.ico-color-logo-small {
  width: 1.03em;
  height: 1em;
}
.ico-color-logo-white {
  width: 2.68em;
  height: 1em;
}
.ico-color-logo {
  width: 2.68em;
  height: 1em;
}
