.ico-mono-arrow-long {
  width: 1.63em;
  height: 1em;
  fill: #75BAED;
}
.ico-mono-arrow-nav-left {
  width: 0.56em;
  height: 1em;
  fill: #fff;
}
.ico-mono-arrow-nav-right {
  width: 0.56em;
  height: 1em;
  fill: #fff;
}
.ico-mono-arrow {
  width: 1.25em;
  height: 1em;
  fill: #75BAED;
}
.ico-mono-caret {
  width: 1.5em;
  height: 1em;
  fill: #CA3228;
}
.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-eye {
  width: 1.33em;
  height: 1em;
  fill: #fff;
}
.ico-mono-search {
  width: 1em;
  height: 1em;
  fill: #646464;
}
