// programs
.programs
  .container
    h2.h2-title Программы

    .programs__slider.navigation-simple.pagination-simple
      .swiper-container.js-swiper-programs
        .swiper-wrapper
          -
            var list = [
              {title: 'Цифровой куратор', desc: '10 000 ₽ / 170 часов'},
              {title: 'Системное администрирование', desc: '10 000 ₽ / 170 часов'},
              {title: 'Кибербезопасность и защита данных ', desc: '10 000 ₽ / 170 часов'},
              {title: 'Медийно-информационная грамотность', desc: '10 000 ₽ / 170 часов'},
              {title: 'Подготовка эксперта по независимой оценке квалификации', desc: '10 000 ₽ / 170 часов'},
              {title: 'Практика применения профессиональных стандартов в образовательной организации ВО ', desc: '10 000 ₽ / 170 часов'},

              {title: 'Кибербезопасность и защита данных ', desc: '10 000 ₽ / 170 часов'},
              {title: 'Медийно-информационная грамотность', desc: '10 000 ₽ / 170 часов'},
              {title: 'Подготовка эксперта по независимой оценке квалификации', desc: '10 000 ₽ / 170 часов'},
              {title: 'Практика применения профессиональных стандартов в образовательной организации ВО ', desc: '10 000 ₽ / 170 часов'},
            ]
          each slide in list
            .swiper-slide
              a(href="#").program-card
                .program-card__main
                  +svgColor('logo-small')
                  .program-card__title= slide.title
                .program-card__content
                  .program-card__description= slide.desc
                  .program-card__cta
                    +svgMono('arrow-long')


      .swiper-next.swiper-programs-next
        +svgMono('arrow-nav-right')
      .swiper-prev.swiper-programs-prev
        +svgMono('arrow-nav-left')

      .swiper-pagination.swiper-programs-pagination
